@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Inter", serif;
}

.nav-bar{
    display: flex;
    align-items: end;
    justify-content: right;
    background-color: rgba(43, 37, 37, 0.815);
    height: 1.9em;
    border-bottom: 6em;
    /* border: 2px solid red; */
    padding: 0.2em;

}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    /* border: 1px solid ; */
    border-left: 0.1em;
}

.link-nav {
    position: relative;
    right: 6em;
    /* border: 1px solid purple; */
}

.link1:hover {
    background-color: rgba(43, 37, 37, 0.815);
}

.link1 {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.arrow {
    /* border: 1px solid; */
    border-bottom: 1.7em;
    transform: rotateX(180deg);
}

.arrow:hover {
    transform: scaleY();
}

.page-header {
    background-color: white;
    height: 5.3em;
    width: 100%;
    border: 1px solid;
}

.links {
    padding-left: 15em;
    /* border: 1px solid black; */
    width: ;
    display: ;
}

.header-links {
    /* border: 1px solid black; */
    width: 30%;
}

.header-link {
    position: relative;
    left: 23%;
    /* border: 1px solid black; */
    font-size: 1.3em;
    padding: 0.5em;
    color: #000000cb;
    font-weight: 900; 
    top: -0.6em;
    border-right: 1em;
    padding-right: em;
    padding-bottom: 1em;
    padding-top: 1.5em;
    padding-left: em;
}

.open-account {
    position: relative;
    left: 25%;
    /* border: 1px solid black; */
    font-size: 1.3em;
    padding: 0.5em;
    color: #000000cb;
    font-weight: 900; 
    top: -0.6em;
    border-left: 1em;
    background-color: darkorange;
    border-radius: 2.5em;
}

.open-account:hover {
    background-color: rgb(236, 121, 26);
    transition-duration: 3ms;
}

.search-link {
    position: relative;
    left: 26%;
    /* border: 1px solid black; */
    font-size: 1.3em;
    padding: 0.5em;
    color: #000000cb;
    font-weight: 900; 
    top: -0.3em;
    border-left: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.7em;
    padding-top: 1.8em;
}

.header-link-img {
    position: relative;
    border: 1px solid white;
    bottom: -0.5em;
    padding-left: 3em;
}

.header-link:hover {
    color: rgb(248, 139, 6);
}

.dropdown-icon {
    transform: rotate(270deg);
    /* border: 1px solid ; */

}

.paragraph-text {
    /* border: 1px solid black; */
    width: 40%;
    padding-top: 7em;
    padding-left: 3em;
    font-family: ;
}

.paragraph1 {
    font-size: 1.3em;
    color: rgb(97, 94, 94);
    font-weight: 700;
}

.heading1 {
    color: rgb(71, 67, 67);
    font-size: 4em;
    font-weight: 700;
}

.paragraph2 {
    color:  rgb(97, 94, 94);
    font-size: 1.5em;
    font-weight: 500;
}

.linkbtn {
    display: flex;c
    list-style-type: none;
    gap: 15px;
}

.open-acct-btn {
    border: 1px solid rgb(195, 54, 19);
    padding: 0.3em;
    color: white;
    font-size: 1.44em;
    border-radius: 2em;
    background-color: rgb(236, 68, 26);
    font-weight: 700;
    z-index: 1;
    overflow: hidden;
}

.open-acct-btn:hover::after {
    width: 100%;
}

.open-acct-btn::after {
    content: '';
    position: absolute;
    background: rgb(113, 26, 236);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

/* .open-acct-btn ::after {
    background-color: rgb(216, 53, 13);
} */

.local-branch-btn {
    border: 1px solid rgb(236, 68, 26);
    padding: 0.3em;
    color: rgb(236, 68, 26);
    font-size: 1.43em;
    border-radius: 2em;
    background-color: whitesmoke;
    font-weight: 700;
    z-index: 1;
    overflow: hidden;
}
.img-div {
    width: 50%;
    border: 1px solid black;
    margin: 41em;
    margin-top: -30em;
    padding-bottom: 15em;
}

.Account-logins{
    background-color: rgb(237, 237, 236);
    width: 40%;
    margin-left: 18em;
    margin-top: -20em;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 400;
    /* border: 1px solid ; */
    padding-left: 0.8em;
    border-radius: 0.3em;
    padding-top: 0.5em;
}

.account-login {
    text-transform: capitalize;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(71, 67, 67);
}

.Account-logins-li {
    color: rgb(236, 68, 26);
    font-weight: 600;
    font-size: 1em;
}

.Account-logins-li:hover {
    color:  rgb(216, 53, 13);
}

hr {
    width: 89%;
}

.man-and-lady {
    border: 1px solid;
    border-bottom: 5em;
    position: relative;
    /* padding-bottom: 2em; */
}